backend/node_modules
backend/package-lock.json

backend/server/dist
backend/server/node_modules

backend/worker/dist
backend/worker/node_modules

backend/packages/db/node_modules
backend/packages/db/.env

backend/packages/db/package-lock.json

monitoring/grafana_data
monitoring/prometheus_data
monitoring/.env
monitoring/loki_data

server/tests/performance